In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import math
import numpy as np
from scipy.stats import linregress
from scipy import stats
import datetime   
from pandas import Series
from statsmodels.tsa.stattools import adfuller
import statsmodels.formula.api as smf
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy.stats as scs
from sklearn.metrics import mean_squared_error
from scipy.io import wavfile

In [2]:
def convert_to_seconds(time):
    hh_mm_ss=time.split(':')
    hour=int(hh_mm_ss[0])
    minutes=int(hh_mm_ss[1])
    seconds=int(hh_mm_ss[2])
    result= hour*3600+minutes*60*seconds
    if(hour<16):
        return result+86400
    else:
        return result

In [3]:
mypath='C:/Users/sara/AppData/Local/VirtualStore/Program Files (x86)/SpO2 Assistant(ITD)V3.0.3/Data'    
df_spo2 = pd.read_csv( mypath+'/MirkoMazzoleni.csv', names=['date','time', 'spO2','pulse'],header=0,usecols=["time", "spO2"])
#df_activity = pd.read_csv( mypath+'/Activity_PDS.csv', names=['time', 'activity'],header=0)
df_spo2['time']=df_spo2['time'].apply(convert_to_seconds)
spo2_array=df_spo2['spO2']
time_array=df_spo2['time']
#activity_array=df_activity['activity']
#time_activity_array=df_activity['time']

In [4]:
df_spo2

         time  spO2
0       82800    98
1       82800    98
2       82800    98
3       82800    98
4       82800    98
5       82800    98
6       82800    98
7       82800    98
8       82800    98
9       82800    98
10      82800    98
11      82800    98
12      82800    98
13      82800    98
14      82800    98
15      82800    98
16      82800    98
17      82800    98
18      82800    98
19      82800    98
20      82800    98
21      82800    98
22      82800    98
23      82800    98
24      82800    98
25      82800    98
26      82800    98
27      82800    98
28      82800    98
29      82800    98
...       ...   ...
15800  124800   127
15801  126180   127
15802  127560   127
15803  128940   127
15804  130320   127
15805  131700   127
15806  133080   127
15807  134460   127
15808  135840   127
15809  137220   127
15810  138600   127
15811  139980   127
15812  141360   127
15813  142740   127
15814  144120   127
15815  145500   127
15816  146880   127
15817  148260   127
15818  149640   127
15819  151020   127
15820  152400   127
15821  153780   127
15822  155160   127
15823  156540   127
15824  157920   127
15825  159300   127
15826  160680   127
15827  162060   127
15828  163440   127
15829  164820   127

[15830 rows x 2 columns]