In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import math
import numpy as np
from scipy.stats import linregress
from scipy import stats
import datetime   
from pandas import Series
from statsmodels.tsa.stattools import adfuller
import statsmodels.formula.api as smf
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy.stats as scs
from sklearn.metrics import mean_squared_error
from scipy.io import wavfile

In [43]:
def convert_to_seconds(time):
    hh_mm_ss=time.split(':')
    hour=int(hh_mm_ss[0])
    minutes=int(hh_mm_ss[1])
    seconds=int(hh_mm_ss[2])
    result= hour*3600+minutes*60*seconds
    if(hour<16):
        return result+86400
    else:
        return result

In [44]:
mypath='C:/Users/sara/AppData/Local/VirtualStore/Program Files (x86)/SpO2 Assistant(ITD)V3.0.3/Data'    
df_spo2 = pd.read_csv( mypath+'/_user_1_1_20181008143653.csv', names=['date','time', 'spO2','pulse'],header=0,usecols=["time", "spO2"])
#df_activity = pd.read_csv( mypath+'/Activity_PDS.csv', names=['time', 'activity'],header=0)
df_spo2['time']=df_spo2['time'].apply(convert_to_seconds)
spo2_array=df_spo2['spO2']
time_array=df_spo2['time']
#activity_array=df_activity['activity']
#time_activity_array=df_activity['time']

In [45]:
df_spo2

       time  spO2
0    136800   127
1    138840   127
2    140880    93
3    142920    93
4    144960    93
5    147000    93
6    149040    93
7    151080    93
8    153120    93
9    155160    93
10   157200    93
11   159240    93
12   161280    93
13   163320    93
14   165360    93
15   167400    93
16   169440    93
17   171480    93
18   173520    93
19   175560    93
20   177600    93
21   179640    93
22   181680    94
23   183720    95
24   185760    95
25   187800    96
26   189840    96
27   191880    97
28   193920    98
29   195960    98
..      ...   ...
116  254400    98
117  256500    98
118  258600    98
119  260700    98
120  136800    98
121  138960    94
122  141120    94
123  143280    94
124  145440    94
125  147600    94
126  149760    94
127  151920    94
128  154080    94
129  156240    94
130  158400    94
131  160560    94
132  162720    95
133  164880    95
134  167040    95
135  169200    98
136  171360    98
137  173520    98
138  175680    98
139  177840    98
140  180000    98
141  182160    98
142  184320    98
143  186480    98
144  188640    98
145  190800    98

[146 rows x 2 columns]