In [1]:
import wfdb
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import math

In [13]:

fileName=['a01','a02','a03','a04','a05','a06','a07','a08','a09','a10','a11','a12','a13','a14','a15','a16','a17','a18','a19','a20',
         'b01','b02','b03','b04','b05','c01','c02','c03','c04','c05','c06','c07','c08','c09','c10',
         'x01','x02','x03','x04','x05','x06','x07','x08','x09','x10','x11','x12','x13','x14','x15','x16','x17','x18','x19','x20']
mypath='C:/Users/sara/Documents/5anno/TESI/DataBase_PhysioNet/www.physionet.org/physiobank/database/apnea-ecg/'
recordname=mypath+fileName[18]
record = wfdb.rdsamp(recordname)
dfECG=pd.DataFrame()
ecg=record[0]
Fs_ecg=record[1]['fs']
intervallo=len(ecg)/(len(ecg)*Fs_ecg)
time_ecg=[]
for i in range(0,len(ecg)):
    time_ecg.append(intervallo*i)
dfECG['time']=time_ecg
dfECG['ecg']=ecg

# valori label APNEA
dfAPNEA=pd.DataFrame()
ann = wfdb.rdann(recordname, extension="apn")
time_apn=ann.sample/100
apn=ann.symbol

dfAPNEA['time']=time_apn
dfAPNEA['apnea']=apn

In [14]:
dfAPNEA

        time apnea
0        0.0     N
1       60.0     A
2      120.0     A
3      180.0     A
4      240.0     A
5      300.0     A
6      360.0     A
7      420.0     N
8      480.0     N
9      540.0     A
10     600.0     A
11     660.0     A
12     720.0     A
13     780.0     A
14     840.0     N
15     900.0     N
16     960.0     N
17    1020.0     N
18    1080.0     N
19    1140.0     N
20    1200.0     N
21    1260.0     N
22    1320.0     N
23    1380.0     N
24    1440.0     N
25    1500.0     N
26    1560.0     N
27    1620.0     A
28    1680.0     N
29    1740.0     N
..       ...   ...
472  28320.0     N
473  28380.0     N
474  28440.0     N
475  28500.0     N
476  28560.0     N
477  28620.0     N
478  28680.0     N
479  28740.0     A
480  28800.0     N
481  28860.0     A
482  28920.0     N
483  28980.0     A
484  29040.0     A
485  29100.0     A
486  29160.0     A
487  29220.0     A
488  29280.0     A
489  29340.0     A
490  29400.0     A
491  29460.0     A
492  29520.0     A
493  29580.0     A
494  29640.0     A
495  29700.0     A
496  29760.0     A
497  29820.0     A
498  29880.0     A
499  29940.0     A
500  30000.0     A
501  30060.0     A

[502 rows x 2 columns]